<title>Movie Search | {{ movie_data.info.title }}</title>
{% include "movies/base.html" %}

{% load mathfilters %}
<head>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="row">
      <div class="col-sm-4" style="margin-top: 100px;">
        <img class="img-responsive" style="width:300px" src='https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ movie_data.info.poster_path }}'/>

        <iframe width="160" height="100" src="https://www.youtube.com/embed/{{ movie_data.trailer.key }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-sm-8" style="margin-top: 100px;">
        <div class="well">
          <h2>{{ movie_data.info.title }} ({{movie_data.year}})</h2>
          <div class=" c100 p{{movie_data.info.vote_average|mul:10|floatformat:"0"}} small orange">
            <span title="User Score">{{movie_data.info.vote_average|mul:10|floatformat:"0"}}%</span>
              <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
              </div>

          </div>
        </div><h4>User<br>Score</h4>


        <br><br>

        <div class="well">
          <h3>Overview</h3>
          <p>{{ movie_data.info.overview }}</p>
        </div>
        <div class="well">
          <h3>Keywords</h3>
          <ul class="list-inline">
            {% for key in movie_data.keywords %}
              <li class="list-inline-item"><a href="{% url 'movies:home'%}?query={{key.name}} ">{{key.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="well">
          <h3>Cast</h3>
          {% for c in movie_data.cast %}
            <li class="list-inline-item">{{c.name}} ({{c.character}}),</li>
          {% endfor %}
        </div>
        <div class="well">
          <h3>Crew</h3>
          {% for c in movie_data.crew %}
            <li class="list-inline-item">{{c.name}} ({{c.job}}),</li>
          {% endfor %}
        </div>

      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-sm-8">
        <div class="well">
          <h3>Poster Images</h3>
          {% for image in movie_data.images.posters %}
            <img class="img-responsive" style="width:100px" src='https://image.tmdb.org/t/p/w200_and_h300_bestv2{{ image.file_path }}'/>
          {% endfor %}
        </div>
      
        
        <div class="well">
            <h3>Backdrops Images</h3>
            {% for image in movie_data.images.backdrops %}
              <img class="img-responsive" style="width:100px" src='https://image.tmdb.org/t/p/w533_and_h300_bestv2{{ image.file_path }}'/>
            {% endfor %}
        </div>
        
    </div>

    <div class="col-sm-4">
          <div class="well">
              <h3>Reviews</h3>

              {% if movie_data.reviews %}
              {% for review in movie_data.reviews %}
                                <div class="well">
                                    <span>{{ review.author }}</span>
                                    <p>{{ review.content }}</p>
                                </div>
                            {% endfor %}
              {% else %}
              <p>Reviews are not available..</p>
            {% endif %}
          </div>
    </div>
    </div>
    <div class="row">
      <br><br><br>
    </div>
  </div>
</body>